.home {
  display: flex;
}

.homecards-container {
  display: flex;
  gap: 2%;
  margin: 2% auto;
  width: 80%;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .homecards-container {
    flex-direction: column;
    margin-bottom: 20%;
  }
}
