.card-container {
  width: 30%;
  background-color: brown;
}

.card-image {
  width: 80%;
  height: 80%;
  border-radius: 50%;
}
.card-image img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
