.card-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  background-color: #8fb34d;
  border-radius: 3%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 10%;
}

.card-title {
  max-height: 100px;
  text-align: center;
}

.card-title h1 {
  margin: 5px;
}

@media (max-width: 768px) {
  .card-container {
    width: 100%;
    max-height: 50%;
    margin: 4% auto;
  }
}
.card-image {
  display: flex;
  flex-direction: column;
}
.card-image img {
  width: 100%;
  object-fit: cover;
  border-radius: 3% 3% 0 0;
}

.card-title {
  text-align: center;
}
.card-title h1 {
  color: #00529c;
  font-size: 1.5em;
}
